# gitignore

*.fna
*.fasta
*.fa
*.fai
*.fastq
*.fq

*.gv
*.gz
*.HEIC

*.pbi
*.bam
*.bai

*.RData
*.Rhistory

*.docx*
*.pptx*
*.Rproj*
*.pkl

*.bak

*00_Strain*

*03_Analysis.394.misannotated*

*Archive*

temp*
*DS_Store*

03_Analysis/FindNatural_16S*

03_Analysis/IsolateGenomes/Compare_genomes*

01_LabNotes/ConversationDicussingExpDesign*
*Archive*

01_LabNotes/*

*prepare_SRA_Upload*